    #myName {
      margin-top: 2rem;
    }
    #about {
      margin-top: 2rem;
    }
    .nextToBack {
      margin-left: 1rem;
    }
    .bean {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      z-index: 69;
    }
    #storm {
      margin-left: 0.55rem;
    }
    #back {
      margin-top: 0.5rem;
    }
    #galleryBack {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    #parentSquare {
      position: relative;
      display: block;
      margin-top: 0.5rem;
      margin-left: 2.5rem;
    }
    #mailIcon {
      position: absolute;
      top: 5.25rem;
      left: 1.25rem;"
    }
    @media only screen and (max-width: 700px) {
      #mailIcon {
        position: absolute;
        top: 4rem;
        left: 1.15rem;
      }
    }
    #discordIcon {
      position: absolute;
      top: 9.75rem;
      left: 0.9rem;
    }
    @media only screen and (max-width: 700px) {
      #discordIcon {
        position: absolute;
        top: 7.2rem;
        left: 0.8rem;
      }
    }
    .for-mobile {
      margin-left: auto;
      margin-right: auto;
    }
    .galleryOption {
      margin-top: 1.75rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 2.25rem;
      brightness: 100;
    }
    .linksTop {
      margin-top: 2.1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      brightness: 100;
    }
    .linksBottom {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 2.25rem;
      brightness: 100;
    }
    @media only screen and (max-width: 995px) {
      #wolfStudy {
        margin-top: 1.5rem;
      }
      #horseStudy {
        margin-top: 1.5rem;
      }
      #orchid {
        margin-top: 1rem;
      }
      #flower {
        margin-top: 1.5rem;
      }
      #tuershen {
        margin-top: 1.5rem;
      }
      #succulent {
        margin-top: 1rem;
      }
      #majorFlower {
        margin-top: 1.5rem;
      }
      #banff {
        margin-top: 1.5rem;
      }
    }
    @media only screen and (max-width: 665px) {
      #wolfStudy {
        margin-top: 1.5rem;
      }
      #horseStudy {
        margin-top: 1rem;
      }
      #orchid {
        margin-top: 1rem;
      }
      #flower {
        margin-top: 1.5rem;
      }
      #tuershen {
        margin-top: 1rem;
      }
      #succulent {
        margin-top: 1rem;
      }
      #majorFlower {
        margin-top: 1.5rem;
      }
      #banff {
        margin-top: 1rem;
      }
    }
    .topArt {
      margin-top: 1.75rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .art {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    #sketchIcon {
      margin-top: 3.3rem;
    }
    #majorIcon {
      margin-left: 1.3rem;
    }
